/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";


@layer base {
    label {
        @apply text-first font-semibold text-[18px] mt-[10px]
    }

    .container {
        @apply bg-gradient-to-br from-gray-100 to-gray-300;
    }

    .container-task h2 {
         @apply  text-[24px] font-semibold flex items-center gap-2
    
    }

    .task p {
        @apply text-gray-600
    }

     .mark {
    width: 20px;
    height: 20px;
    
    border-radius: 100%;
  }

    .pending {
    background-color: rgb(231, 221, 76);
  }

    .onprogress {
    background-color: rgb(76, 156, 231);
  }
    .finish {
    background-color: rgb(76, 231, 97);
  }
}

@layer components {
  input[type="text"], textarea, select {
    @apply bg-gray-200 px-2.5 py-[5px] rounded-lg;
  }

  .btn-form {
    @apply bg-first text-white px-5 py-2 rounded-lg cursor-pointer
  }

  .container-task {
    @apply bg-white
  }


  .task {
    @apply bg-white border-gray-300  rounded-[12px] px-5 py-2 mt-2
  }

  .btn-delete {
    @apply cursor-pointer bg-white px-4 py-2 rounded-3xl border border-red-800 text-red-800 font-semibold
  }

  .container-task {
    @apply shadow-md
  }

}

@theme {
    --color-first:#263c6a;
    --color-body:@apply bg-gradient-to-r from-gray-100 to-gray-300
    
}

