/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";


@layer base {

	label {
		@apply text-first font-semibold text-[18px] mt-2.5
	}

    input[type="text"],
	textarea,
	select {
		@apply bg-gray-200 px-2.5 py-[5px] rounded-lg;
	}

}

@layer components {

	/* Botões */
	.btn-form {
		@apply bg-first font-semibold text-2xl text-white px-5 py-2 rounded-lg cursor-pointer hover:bg-first-hover transition-all duration-150;
	}

	.btn-delete {
		@apply flex items-center gap-2 cursor-pointer bg-white px-4 py-2 rounded-3xl border border-red-800 text-red-800 font-semibold hover:bg-red-800 hover:text-white transition-all duration-150
	}

	.btn-edit {
		@apply flex items-center gap-2 cursor-pointer bg-white px-4 py-2 rounded-3xl border border-blue-800 text-blue-800 font-semibold hover:bg-blue-800 hover:text-white transition-all duration-150;
	}

  /* Containers */
	.container-task {
		@apply bg-white
	}


	.task {
		@apply bg-white border-gray-300 rounded-xl px-5 py-2 mt-2
	}

	.container-task {
		@apply shadow-md flex-1 rounded-2xl px-4 py-2.5
	}

    .container-body {
		@apply bg-linear-to-br from-gray-100 to-gray-300 h-screen;
	}

	.container-task h2 {
		@apply text-[24px] font-semibold flex items-center gap-2
	}

	.task p {
		@apply text-gray-600 text-[16px] leading-tight
	}

  /* Decorativos */
	.mark {
		width: 20px;
		height: 20px;

		border-radius: 100%;
	}

	.pending {
		background-color: rgb(231, 221, 76);
	}

	.onprogress {
		background-color: rgb(76, 156, 231);
	}

	.finish {
		background-color: rgb(76, 231, 97);
	}

}

@theme {

	--color-first: #263c6a;
	--color-first-hover: #4664a3;
	--color-body: @apply bg-linear-to-r from-gray-100 to-gray-300;

}