<div>

    <form [formGroup]="form" (ngSubmit)="submit()" class="flex flex-col w-[500px] mt-5 mx-auto bg-white px-5 py-5 rounded-2xl">
        <label>Descrição</label>
        <textarea formControlName="descricao">     
        </textarea>

        <label>Status</label>
        <select formControlName="status">
            <option *ngFor="let s of statuses" [value]="s">{{s}}</option>
        </select>

        <button type="submit" class="btn-form mt-10" [disabled]="form.invalid">Salvar</button>

    </form>
</div>
